{% extends "admin/layout.html" %}
{% block admin_content %}

{% for message in get_flashed_messages() %}
<div class="uk-alert uk-alert-warning" data-uk-alert>
    <a href="" class="uk-alert-close uk-close"></a>
    <p>{{ message }}</p>
</div>
{% endfor %}

<div>
    <p><button class="uk-button uk-button-primary" data-uk-toggle="{target:'#add-photo-id'}">ADD</button></p>
    <div id="add-photo-id" class="uk-hidden uk-panel uk-panel-box">
        <form class="uk-panel uk-panel-box uk-form" method="POST" action="/admin/photo" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <div class="uk-form-row">
                {{ form.image(class_="uk-width-1-1 uk-form-large", placeholder="Image") }}
            </div>
            <div class="uk-form-row">
                {{ form.description(class_="uk-width-1-1 uk-form-large", placeholder="Description") }}
            </div>
            <div class="uk-form-row">
                {{ form.category_id(class_="uk-width-1-1 uk-form-large", placeholder="Category") }}
            </div>
            <div class="uk-form-row">
                <input type="submit" class="uk-width-1-1 uk-button uk-button-primary uk-button-large" value="Submit">
            </div>
        </form>
    </div>
</div>
<div>
    <table class="uk-table uk-table-striped">
        <caption>图片列表</caption>
        <thead>
            <tr class="uk-table-middle">
                <th>Url</th>
                <th>Description</th>
                <th>Category</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
        {% if photos %}
        {% for photo in photos %}
            <tr class="uk-table-middle">
                <td><img src='/static/uploads/thumbnail/{{ photo.path }}' /></td>
                <td>{{ photo.description }}</td>
                <td>{{ photo.category.name }}</td>
                <td><a href="/admin/photo/del/{{ photo.id }}">Delete</a></td>
            </tr>
        {% endfor %}
        {% else %}
            <tr class="uk-table-middle">
                <td colspan="3">No Data.</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
</div>
{% endblock %}
