{% extends "layout.html" %}
{% block body %}
<div class="uk-vertical-align uk-text-center uk-height-1-1">
    <div class="uk-vertical-align-middle" style="width: 250px;">   
        {% for message in get_flashed_messages() %}
        <div class="uk-alert uk-alert-warning" data-uk-alert>
            <a href="" class="uk-alert-close uk-close"></a>
            <p>{{ message }}</p>
        </div>
        {% endfor %} 
        <form class="uk-panel uk-panel-box uk-form" method="POST" action="/user/register">
            {{ form.hidden_tag() }}
            <div class="uk-form-row">
                {{ form.name(class_="uk-width-1-1 uk-form-large", placeholder="Name") }}
            </div>
            <div class="uk-form-row">
                {{ form.email(class_="uk-width-1-1 uk-form-large", placeholder="Email") }}
            </div>
            <div class="uk-form-row">
                {{ form.password(class_="uk-width-1-1 uk-form-large", placeholder="Password") }}
            </div>
            <div class="uk-form-row">
                {{ form.password_confirm(class_="uk-width-1-1 uk-form-large", placeholder="Confirm Password") }}
            </div>
            <div class="uk-form-row">
                <input type="submit" class="uk-width-1-1 uk-button uk-button-primary uk-button-large" value="Register">
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}
