{% extends "admin/layout.html" %}
{% block admin_content %}

{% for message in get_flashed_messages() %}
<div class="uk-alert uk-alert-warning" data-uk-alert>
    <a href="" class="uk-alert-close uk-close"></a>
    <p>{{ message }}</p>
</div>
{% endfor %}
<div>
    <table class="uk-table uk-table-striped">
        <caption>用户列表</caption>
        <thead>
            <tr class="uk-table-middle">
                <th>Name</th>
                <th>Email</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
        {% if users %}
        {% for user in users %}
            <tr class="uk-table-middle">
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td><a href="#">Edit</a></td>
            </tr>
        {% endfor %}
        {% else %}
            <tr class="uk-table-middle">
                <td colspan="3">No Data.</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
</div>
{% endblock %}
